.navbar a:link {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-size: 13pt;
    color: #FFFFFF;
}

.navbar a:active{
    font-family: "Poppins-Regular";
    font-style: bold;
    font-size: 13pt;
    color: #4DB05B;
}

.navbar li.active a{
    font-family: "Poppins-Regular";
    font-style: bold;
    font-size: 13pt;
    color: #4DB05B;
}

#header-logo {
    margin-left: 40pt;
    background-image: url(/assets/indeema_logo.svg);
    background-size: 230pt 25pt;
    background-repeat: no-repeat;
    background-position: left;
    background-clip: border-box;

    display: block;
    width: 230px;
    height: 25px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.collapse {
    margin-left: 30pt;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}