.container{
  padding: 0;
}

.navbar a:link {
  font-family: "Poppins";
  font-style: normal;
  font-size: 13pt;
  color: #FFFFFF;
  transition: color 0.5s ease;
}

.navbar a:active{
  font-family: "Poppins";
  font-style: bold;
  font-size: 13pt;
  color: #4DB05B;
}

.navbar li.active a,
.navbar li a:hover,
.navbar li a:active{
  font-family: "Poppins";
  font-style: bold;
  font-size: 13pt;
  color: #4DB05B;
}

#header-logo {
  background-image: url(/assets/header_logo.svg);
  background-size: 210px auto;
  background-repeat: no-repeat;
  background-position: left;
  background-clip: border-box;
  display: block;
  width: 230px;
  height: 45px;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.collapse {
    margin-left: 30pt;
}

/* Dropdown Button */
.profile-btn {
  background-color: transparent;
  color: #bdbdbd;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.profile-btn strong{
  color: #4DB05B;
  font-weight: bold;
}

/* Dropdown Button */
.logout-btn {
  background-color: transparent;
  color: #4DB05B;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: color 0.5s ease;
}
.logout-btn:hover,
.logout-btn:active {
  color: #fff;
}

.logo-cover{
  position: relative;
}
.logo-cover .beta-version{
  position: absolute;
  top: 0px;
  right: -25px;
  display: block;
  padding: 2px 7px;
  background: rgb(214, 74, 74);
  color: white;
  border-radius: 4px;
  font-size: 12px;
}
