<div class="container">
    <h3>Ci Templates</h3>
    <div class="form-group required">
      <label for="template">CI Template</label>
      <select (change)="templateSelected(settingsModel.template)" [(ngModel)]="settingsModel.template" enabled class="form-control" name="template" id="template">
        <option [ngValue]="newTemplate" (value)="newTemplate">Create new</option>
        <optgroup label="_________"></optgroup>
        <ng-container *ngFor="let item of settingsModel.template_list let i = index">
          <option [ngValue]="settingsModel.template_list[i]">{{ item.name}}</option>
        </ng-container>
      </select>
      </div>
      <div *ngIf="settingsModel.template" class="form-group">
        <label for="name">Template page name</label>
        <input [(ngModel)]="settingsModel.template.name" [(value)]="settingsModel.template.name" class="form-control" id="new_template_name" name="new_template_name" placeholder="Please enter name for new template script">
      </div>     
    <div class="form-group">
      <textarea [(ngModel)]="settingsModel.template.yml_code" [(value)]="settingsModel.template.yml_code" class="form-control" id="script" name="script" rows="10"></textarea>
    </div>
    <button (click)="updateTemplate()" id="green-button" *ngIf="!isNewTemplate">Update</button>
    <button (click)="createTemplate()" id="green-button" *ngIf="isNewTemplate">Create</button>
    <button (click)="deleteTemplate()" id="red-button" [disabled]="isNewTemplate">Delete</button>
    <button (click)="preview()" id="yellow-button" [disabled]="isNeweTemplate">Preview</button>
  </div>