<div class="container">
    <h3>Ci Templates</h3>
    <div class="form-group required">
      <label for="maintenance">CI Template</label>
      <select (change)="maintenanceSelected(settingsModel.maintenance)" [(ngModel)]="settingsModel.maintenance" enabled class="form-control" name="maintenance" id="maintenance">
        <option [ngValue]="newMaintenance" (value)="newMaintenance">Create new</option>
        <optgroup label="_________"></optgroup>
        <ng-container *ngFor="let item of settingsModel.maintenance_list let i = index">
          <option [ngValue]="settingsModel.maintenance_list[i]">{{ item.name}}</option>
        </ng-container>
      </select>
      </div>
      <div *ngIf="settingsModel.maintenance" class="form-group">
        <label for="name">Template page name</label>
        <input [(ngModel)]="settingsModel.maintenance.name" [(value)]="settingsModel.maintenance.name" class="form-control" id="new_maintenance_name" name="new_maintenance_name" placeholder="Please enter name for new maintenance page">
      </div>     
    <div class="form-group">
      <textarea [(ngModel)]="settingsModel.maintenance.yml_code" [(value)]="settingsModel.maintenance.yml_code" class="form-control" id="script" name="script" rows="10"></textarea>
    </div>
    <button (click)="updateMaintenance()" id="green-button" *ngIf="!isNewMaintenance">Update</button>
    <button (click)="createMaintenance()" id="green-button" *ngIf="isNewMaintenance">Create</button>
    <button (click)="deleteMaintenance()" id="red-button" [disabled]="isNewMaintenance">Delete</button>
    <button (click)="preview()" id="yellow-button" [disabled]="isNewMaintenance">Preview</button>
  </div>