<div class="container">
    <h3>Services</h3>
    <div class="form-group required">
      <label for="service">Service setup script</label>
      <select (change)="serviceSelected(settingsModel.service)" [(ngModel)]="settingsModel.service" enabled class="form-control" name="service" id="service">
        <option [ngValue]="newService" (value)="newService">Create new</option>
        <optgroup label="_________"></optgroup>
        <ng-container *ngFor="let item of settingsModel.service_list let i = index">
          <option [ngValue]="settingsModel.service_list[i]">{{ item.service_name}}</option>
        </ng-container>
      </select>
      </div>
      <div *ngIf="settingsModel.service" class="form-group">
        <label for="service_name">Service name</label>
        <input [(ngModel)]="settingsModel.service.service_name" [(value)]="settingsModel.service.service_name" class="form-control" id="new_service_name" name="nservice_name" placeholder="Please enter name for new service">
      </div>     
    <div class="form-container">
      <h4>Service variables</h4>
      <div *ngFor="let item of settingsModel.service.variables let i = index" class="form-group repeated">
        <input [(ngModel)]="settingsModel.service.variables[i].name"  class="form-control" id="service-name" name="service-name" placeholder="Enter variable key">
        <input [(ngModel)]="settingsModel.service.variables[i].value" class="form-control" id="service-value" name="service-value" placeholder="Enter variable value">
        <span (click)="removeRepeatField(settingsModel.service.variables, i)" *ngIf="settingsModel.service.variables && settingsModel.service.variables.length > 1" class="text-danger remove-btn">Remove</span>
        <span (click)="cleanFields(settingsModel.service.variables)" *ngIf="settingsModel.service.variables && settingsModel.service.variables.length === 1 && settingsModel.service.variables[0].value !== null" style="right: -50px" class="text-warning remove-btn">Reset</span>
      </div>
    <button (click)="addRepeatField(settingsModel.service.variables)" type="button" id="yellow-button">Add another variable</button>
    </div>
    <div class="form-group">
      <div>
        <div>
          <br/>
          <br/>
          <br/>
          Parameters to be provided when calling Setup script <br/>
          $ENVIRONMENTS  - a list of environments defined in project <br/>
          $ENVIRONMENT   - environments set for application and selected from avalible list from project <br/>
          $MAINTENANCE   - path to maintenance html file <br/>
          $APP_STATUS    - setup status<br/>
          $APP_NAME      - application name <br/>
          $APP_PORT      - selected application port  <br/>
          $DESC          - application description <br/>
          $DOMAIN_NAME   - domain name<br/>
          $CI_TEMPLATE   - selected ci template name<br/>
          $__V           - version<br/>
          $PROJECT_NAME  - project name<br/>
        </div>
        <h4>Service setup script</h4>
      </div>
      <textarea [(ngModel)]="settingsModel.service.setup_script" [(value)]="settingsModel.service.setup_script" class="form-control" id="script" name="script" rows="10"></textarea>
    </div>
    <div class="form-group">
      <h4>Service cleanup script</h4>
      <textarea [(ngModel)]="settingsModel.service.cleanup_script" [(value)]="settingsModel.service.cleanup_script" class="form-control" id="script" name="script" rows="10"></textarea>
    </div>
    <div class="form-group">
      <h4>Service documentation</h4>
      <div>
        Available keys: <br/>
        project_name, app_name, app_port, custom_ssl_key, custom_ssl_crt, domain_name, environment, desc, server, automatic_cert, ci_template, ci_script
      </div>
      <textarea (change)="docUpdated()"[(ngModel)]="settingsModel.doc_string" [(value)]="settingsModel.doc_string" class="form-control" id="script" name="script" rows="10" [disabled]="!settingsModel.service"></textarea>
      <div *ngIf="settingsModel.jsonValidationMessage">
        <label class="badge badge-danger" id="json-warning" name="json-warning"> {{settingsModel.jsonValidationMessage}}</label>
      </div>
    </div>
    <button (click)="updateService()" id="green-button" *ngIf="!isNewService">Update</button>
    <button (click)="createService()" id="green-button" *ngIf="isNewService">Create</button>
    <button (click)="deleteService()" id="red-button" [disabled]="isNewService">Delete</button>
  </div>