<div class="container" style="min-height: calc(100vh - 40pt)">
  <div class="row" style="margin-bottom: 50pt;">
    <div class="col-sm-12 col-md-12 col-lg-12 center-content-item">
      <h2  style="margin-top: 1rem">
        <div class="action">
          <span *ngIf="consoleLive" id="status-success">&#9864; Online</span>
          <span *ngIf="!consoleLive && consoleLive !== null" id="status-fail">&#9864; Offline</span>
          <span *ngIf="consoleLive == null" id="status-progress">&#9864; Starting</span>

          <span *ngIf="project && app">Setuping {{ project.project_name }}/{{ app.app_name }} on {{app.server.server_name}}</span>

          <button *ngIf="enableDownloadBtn && !hideDownloadBtn" (click)="downloadTemplate()" type="button" class="btn btn-success" id="menu-button">Download CI template</button>
          <button (click)="reloadScript(isCleanup)" type="button" class="btn btn-danger" id="menu-button">Reload script</button>
          <button (click)="disableConsole()" type="button" class="btn btn-warning" id="menu-button">Back to setup</button>
          <button (click)="cleanConsole()" type="button" class="btn" id="menu-button-back">Clear</button>
        </div>
      </h2>
      <h2 *ngIf="server" style="margin-top: 1rem; font-size: small;">
        Setuping {{server.server_name}}
      </h2>
      <div class="console">
        <div id="consoleOutput">
          <p *ngFor="let item of consoleOutput" class="{{ item.type || 'message' }}"><span>runner@server:~$</span> {{ item.value }}</p>
        </div>
      </div>
    </div>
  </div>
</div>