table {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 0px;
}
td {
    padding: 0px;
    margin: 0px;
    border: none;
}
th {
    border:none;
    margin:0px;
}
tr:nth-child(even) {
    background: #EFF4F9;
}
tr:nth-child(odd) {
    background: #FFF;
}

.setup-server {
    float: right;
}

.progress-dot-status{
    color: rgba(254, 192, 46, 1);
}
.success-dot-status{
    color: rgba(77, 176, 91, 1);
}
.failed-dot-status{
    color: rgba(218, 49, 72, 1);
}
.waiting-dot-status{
    color: rgba(150, 150, 150, 1);
}
.cleanup-success-dot-status{
    color: rgba(150, 150, 150, 1);
}
.cleanup-failed-dot-status{
    color: rgba(218, 49, 72, 1);
}
.badge{
    margin: 1px 2px;
}

button.ci__action_btn{
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    margin: 5px;
    cursor: pointer;
}
button.btn-start  {
    background-image:url('/assets/start_enabled.svg');
}
button.btn-edit  {
    background-image:url('/assets/edit_server.svg');
}
button.btn-edit:disabled  {
    background-image:url('/assets/edit.svg');
}
button.btn-console  {
    background-image:url('/assets/console_enabled.svg');
}
button.btn-console:disabled  {
    background-image:url('/assets/console_disabled.svg');
}
button.btn-cleanup  {
    background-image:url('/assets/cleanup_enabled.svg');
}
button.btn-cleanup:disabled  {
    background-image:url('/assets/cleanup_disabled.svg');
}
button.btn-delete-server  {
    background-image:url('/assets/delete_enabled.svg');
}
button.btn-delete-server:disabled  {
    background-image:url('/assets/delete_disabled.svg');
}
button.btn-cleanup:hover,
button.btn-edit:hover,
button.btn-start:hover,
button.btn-console:hover,
button.btn-delete-server:hover {
    opacity: 0.5;
}
