<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2 style="margin-top: 2rem">
        Servers list
        <a class="btn btn-success right" routerLink="/servers/new">Setup new server</a>
      </h2>
      <h4 *ngIf="servers && servers.length"   class="badge-splited">
        <span *ngIf="statuses.progress"       class="badge badge-warning">  {{ statuses.progress }} In progress...</span>
        <span *ngIf="statuses.success"        class="badge badge-success">  {{ statuses.success }} Setup success!</span>
        <span *ngIf="statuses.failed"         class="badge badge-danger">   {{ statuses.failed }} Setup failed</span>
        <span *ngIf="statuses.cleanup"        class="badge badge-warning">  {{ statuses.cleanup }} Cleanup in progress...</span>
        <span *ngIf="statuses.cleanup_success" class="badge badge-success"> {{ statuses.cleanup_success }} Cleanup success!</span>
        <span *ngIf="statuses.cleanup_failed"   class="badge badge-danger"> {{ statuses.cleanup_failed }} Cleanup failed</span>
      </h4>
      <p *ngIf="!servers" class="text-muted text-center">Loading...</p>
      <p *ngIf="servers && !servers.length" class="text-muted text-center">Servers not found</p>
      <table *ngIf="servers && servers.length" class="table editable-table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Server name</th>
            <th scope="col">Modules</th>
            <th scope="col">Server SSH</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let server of servers">
            <th scope="row">
              {{ server.server_name }}<br/>
              <tr *ngFor="let user of server.users">
                <th scope="row">
                  <i style="font-weight: 400">{{ user.username || 'User not found' }}</i>
                </th>
            </th>
            <td>
              <div *ngIf="server && server.server_dependencies && server.server_dependencies.length > 0" class="form-group">
                  <label *ngFor="let dep of server.server_dependencies; let i = index" class="badge badge-success">
                    {{ dep.label}}
                  </label>
              </div>
              
              <div *ngIf="server && server.custom_dependencies && server.custom_dependencies.length > 0" class="form-group">
                  <label *ngFor="let dep of server.custom_dependencies; let i = index" class="badge badge-success">
                    {{ dep.label}} 
                  </label>
              </div>
            </td>
            <td>
              <div >{{ server.ssh_username }}@{{ server.ssh_ip }}</div>
            </td>
            <td>
              <div class="btn-group btn-group-toggle">
                <button (click)="setupServer(server)" class="btn btn-success" type="button">Setup</button>
                <button (click)="editServer(server)" class="btn btn-warning" type="button">Edit</button>
                <button (click)="cleanupServer(server, true, true)" [ngClass]="{'disabled': server.server_status === 'cleanup' || server.server_status === 'cleanup_success'}" class="btn btn-light" type="button">Cleanup</button>
                <button (click)="deleteServer(server)" class="btn btn-danger" type="button">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
