#status-label-success {
    background-color: rgba(77, 176, 91, 0.3);
    color: rgba(77, 176, 91, 1);
    float:right;
    font-size: 10pt; 
    font-weight: 20;
    border-radius: 59px;
    margin-left: 20pt;
    padding: 5pt 10pt 5pt 10pt;
}

#status-label-progress {
    background-color: rgba(254, 192, 46, 0.3);
    color: rgba(254, 192, 46, 1);
    float:right;
    font-size: 10pt; 
    font-weight: 20;
    border-radius: 59px;
    margin-left: 20pt;
    padding: 5pt 10pt 5pt 10pt;
}

#status-label-fail {
    background-color: rgba(218, 49, 72, 0.3);
    color: rgba(218, 49, 72, 1);
    float:right;
    font-size: 10pt; 
    font-weight: 20;
    border-radius: 59px;
    margin-left: 20pt;
    padding: 5pt 10pt 5pt 10pt;
}

#setup-button {
    background-color: #4DB05B;
    border-radius: 59px;  
    color: white;
    opacity: 1;
    border: none;
    margin-top:20px;
    font-size: 10pt;
    font-weight: 50;
    float:right;
    padding: 5pt 10pt 5pt 10pt;
}


table {
    border:0px;
    border-collapse:collapse;
    border-spacing:0px;
    margin:0px; 
}
    
td { 
    padding:0px; 
    border-width:0px; 
    margin:0px; 
    border-top: none;
    border: none;
    border-bottom: 1pt;
}

th { 
    border-width:0px; 
    border:none;
    margin:0px; 
    border-bottom: 1pt;
}

tr:nth-child(even) {
    background: #EFF4F9;
}
tr:nth-child(odd) {
    background: #FFF;
}

button#start  {
    background-image:url('/assets/start_enabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 5pt 10pt 25pt 10pt;
}

button#start:hover {
    opacity: 0.5;
}

button#edit  {
    background-image:url('/assets/edit_server.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 5pt 10pt 25pt 10pt;
}

button#edit:disabled  {
    background-image:url('/assets/edit.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 5pt 10pt 25pt 10pt;
}

button#edit:hover {
    opacity: 0.5;
}

button#console  {
    background-image:url('/assets/console_enabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 5pt 10pt 25pt 10pt;
}

button#console:disabled  {
    background-image:url('/assets/console_disabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 5pt 10pt 25pt 10pt;
}

button#console:hover {
    opacity: 0.5;
}

button#cleanup  {
    background-image:url('/assets/cleanup_enabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 5pt 10pt 25pt 10pt;
}

button#cleanup:disabled  {
    background-image:url('/assets/cleanup_disabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 5pt 10pt 25pt 10pt;
}

button#cleanup:hover {
    opacity: 0.5;
}

button#delete-server  {
    background-image:url('/assets/delete_enabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 5pt 10pt 25pt 10pt;
}

button#delete-server:disabled  {
    background-image:url('/assets/delete_disabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 5pt 10pt 25pt 10pt;
}

button#delete-server:hover {
    opacity: 0.5;
}