<div class="ci__widget">
  <div class="ci__widget-header">
    <div class="ci__widget-title">
      <h1>Servers</h1>
    </div>
    <div class="ci__widget-action">
      <div *ngIf="statuses.success" class="ci_label green"><strong>{{ statuses.success }}</strong> setup success</div>
      <div *ngIf="statuses.failed" class="ci_label red"><strong>{{ statuses.failed }}</strong> setup failed</div>
      <div *ngIf="statuses.progress" class="ci_label yellow"><strong>{{ statuses.progress }}</strong> setup in progress</div>

      <div *ngIf="statuses.cleanup" class="ci_label yellow"><strong>{{ statuses.cleanup }}</strong> cleanup in progress</div>
      <div *ngIf="statuses.cleanup_success" class="ci_label green"><strong>{{ statuses.cleanup_success }}</strong> cleanup success</div>
      <div *ngIf="statuses.cleanup_failed" class="ci_label red"><strong>{{ statuses.cleanup_failed }}</strong> cleanup failed</div>
    </div>
  </div>
  <!-- widget header end -->

  <div class="ci__widget-body">
    <div class="ci__widget-action">
      <a class="ci__btn-default setup-server" routerLink="/servers/new">+ Setup server</a>
    </div>

    <p *ngIf="!servers" class="loader text-center"></p>
    <p *ngIf="servers && !servers.length" class="not-found">Servers not found</p>

    <table *ngIf="servers && servers.length" class="table editable-table">
      <thead class="thead-transparent">
        <tr>
          <th>Server name</th>
          <th>Installed Modules</th>
          <th>Platform</th>
          <th>Server SSH</th>
          <th>Open Ports</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let server of servers">
          <td class="thread-light">
            <span *ngIf="server.server_status === 'progress'" class="progress-dot-status">&#9864;</span>
            <span *ngIf="server.server_status === 'success'" class="success-dot-status">&#9864;</span>
            <span *ngIf="server.server_status === 'failed'" class="failed-dot-status">&#9864;</span>
            <span *ngIf="server.server_status === 'waiting'" class="waiting-dot-status">&#9864;</span>
            <span *ngIf="server.server_status === 'cleanup_success'" class="cleanup-success-dot-status">&#9864;</span>
            <span *ngIf="server.server_status === 'cleanup_failed'" class="cleanup-failed-dot-status">&#9864;</span>
            {{ server.server_name }}
          </td>
          <td>
            <i *ngFor="let user of server.users">{{ user.username || 'User not found' }}</i>
          </td>
          <td>
            <div *ngIf="server && server.server_dependencies && server.server_dependencies.length > 0">
              <label *ngFor="let dep of server.server_dependencies; let i = index" class="badge badge-success">
                {{ dep.label}}
              </label>
            </div>
            <div *ngIf="server && server.custom_dependencies && server.custom_dependencies.length > 0">
              <label *ngFor="let dep of server.custom_dependencies; let i = index" class="badge badge-success">
                {{ dep.label}}
              </label>
            </div>
          </td>
          <td>
            {{ server.platform ? server.platform.platform_name : "No platform selected" }}
          </td>
          <td>
            {{ server.ssh_username ? server.ssh_username : "No user defined for host" }}@{{ server.ssh_ip ? server.ssh_ip : "No host defined" }}
          </td>
          <td>
            {{ server.ports ? server.ports : "No ports selected" }}
          </td>
          <td>
            <div class="btn-group btn-group-toggle">
              <button (click)="setupServer(server)" class="ci__action_btn btn-start" type="button" title="Start platform setup script"></button>
              <button (click)="toConsole(server, false, false)" class="ci__action_btn btn-console" title="Open terminal window"></button>
              <button (click)="editServer(server)" class="ci__action_btn btn-edit" type="button" title="Edit server configuration"></button>
              <button (click)="cleanupServer(server)" [disabled]="server.server_status !== 'success'" class="ci__action_btn btn-cleanup" type="button" title="Run platform cleanup script"></button>
              <button (click)="deleteServer(server)" class="ci__action_btn btn-delete-server" type="button" title="Delete server configuration for DB"></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- widget body end -->

</div>

