.loader {
    margin-left: auto;
    margin-right: auto;
    border: 7px solid rgba(77, 176, 91, 0.3); /* Light grey */
    border-top: 7px solid rgba(77, 176, 91, 1); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
      
/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#status-label-success {
    background-color: rgba(77, 176, 91, 0.3);
    color: rgba(77, 176, 91, 1);
    float:right;
    font-size: 10pt; 
    font-weight: 20;
    border-radius: 59px;
    margin-left: 20pt;
    padding: 5pt 10pt 5pt 10pt;
}

#status-label-progress {
    background-color: rgba(254, 192, 46, 0.3);
    color: rgba(254, 192, 46, 1);
    float:right;
    font-size: 10pt; 
    font-weight: 20;
    border-radius: 59px;
    margin-left: 20pt;
    padding: 5pt 10pt 5pt 10pt;
}

#status-label-fail {
    background-color: rgba(218, 49, 72, 0.3);
    color: rgba(218, 49, 72, 1);
    float:right;
    font-size: 10pt; 
    font-weight: 20;
    border-radius: 59px;
    margin-left: 20pt;
    padding: 5pt 10pt 5pt 10pt;
}

#setup-button {
    background-color: #4DB05B;
    border-radius: 59px;  
    color: white;
    opacity: 1;
    border: none;
    margin-top:20px;
    font-size: 10pt;
    font-weight: 50;
    float:right;
    padding: 5pt 10pt 5pt 10pt;
}


table {
    border:0px;
    border-collapse:collapse;
    border-spacing:0px;
    margin:0px; 
}
    
td { 
    padding:0px; 
    border-width:0px; 
    margin:0px; 
    border-top: none;
    border: none;
    border-bottom: 1pt;
}

th { 
    border-width:0px; 
    border:none;
    margin:0px; 
    border-bottom: 1pt;
}

tr:nth-child(even) {
    background: #EFF4F9;
}
tr:nth-child(odd) {
    background: #FFF;
}