<div class="forgot-container">
  <h3>
    Forgot password?
  </h3>
  <form (submit)="reset()" [formGroup]="forgotForm">
    <div class="form-group">
      <label for="email">Email address</label>
      <input formControlName="email" type="email" class="ci__input" name="email" placeholder="Enter your email">
    </div>
    <div *ngIf="forgotForm.get('email').hasError('email') && (forgotForm.get('email').dirty && forgotForm.get('email').touched)" class="alert alert-danger">
      Please enter a valid email
    </div>
    <div>
      <a routerLink="/signin" class="ci__link">Back to sign in</a>
    </div>
    <div *ngIf="forgotError !== ''" class="alert alert-danger">
      {{ forgotError }}
    </div>
    <div class="form-group">
      <p *ngIf="isLoading" class="loader text-center"></p>
      <button *ngIf="!isLoading" type="submit" class="ci__btn-default">Reset</button>
    </div>
  </form>
</div>
