<div class="ci__header-bottom">
  <div class="container-fluid">
    <div class="ci__header-bottom-nav-container">
      <div class="ci__header-bottom-nav">
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/settings/maintenance">
              <p class="menu-title">Maintenance pages</p>
              <p class="menu-desc">Setup 500 error page</p>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/settings/ci-templates">
              <p class="menu-title">CI Templates</p>
              <p class="menu-desc">Setup Gitlab CI yaml files</p>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/settings/server-dependencies">
              <p class="menu-title">Server Dependencies</p>
              <p class="menu-desc">Setup server software</p>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/settings/custom-dependencies">
              <p class="menu-title">Custom Dependencies</p>
              <p class="menu-desc">Setup other server software</p>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/settings/platforms">
              <p class="menu-title">Platforms</p>
              <p class="menu-desc">Setup platform list</p>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/settings/services">
              <p class="menu-title">Services</p>
              <p class="menu-desc">Setup services list</p>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/settings/modules">
              <p class="menu-title">Modules</p>
              <p class="menu-desc">Setup modules list</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
