
<div class="reset-container">
  <h3>
    Reset password
  </h3>
  <form [formGroup]="resetForm" (submit)="reset()">
    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" type="password" class="ci__input" name="password" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="password">Repeat password</label>
      <input formControlName="passwordConfirmation" type="password" class="ci__input" name="password_rep" placeholder="Enter password again">
    </div>
    <div *ngIf="resetForm.get('passwordConfirmation').hasError('matchPassword') && (resetForm.get('passwordConfirmation').dirty || resetForm.get('passwordConfirmation').touched)" class="alert alert-danger">
      Password doesn't match.
    </div>
    <div>
      <a routerLink="/signin" class="ci__link">Back to sign in</a>
    </div>
    <div *ngIf="resetError !== ''" class="alert alert-danger">
      {{ resetError }}
    </div>
    <div>
      <p *ngIf="isLoading" class="loader text-center"></p>
      <button *ngIf="!isLoading" type="submit" class="ci__btn-default">Reset</button>
    </div>
  </form>
</div>
