<div class="container">
    <h3>CI scripts</h3>
    <div class="form-group required">
      <label for="ci">CI script</label>
      <select (change)="ciSelected()" [(ngModel)]="settingsModel.ci" enabled class="form-control" name="ci{{ pId }}">
        <option [value]="null"  disabled>Chose CI</option>
        <ng-container *ngFor="let item of settingsModel.ci_script_list">
          <option [value]="item">{{ item }}</option>
        </ng-container>
      </select>
      </div>
    <div class="form-group">
      <label for="new_ci_name">New template name</label>
      <input [(ngModel)]="settingsModel.new_ci_name" class="form-control" id="new_ci_name" name="new_ci_name" placeholder="Please enter name for new template">
    </div>   
    <button (click)="duplicateCI()" id="green-button" [disabled]="!settingsModel.new_ci_name || !settingsModel.ci">Duplicate</button>
    <button (click)="deleteCI()" id="red-button" [disabled]="!settingsModel.ci">Delete</button>
    <div class="form-group">
      <br/>
      <br/>
      <br/>
      <label for="desc">Setup script</label>
      <textarea [(ngModel)]="settingsModel.ci_script" [(value)]="settingsModel.ci_script" class="form-control" id="script" name="script" rows="10"></textarea>
    </div>
    <button (click)="saveCiScript()" id="green-button" >Save scripts</button>
    <br/>
    <br/>
    <br/>

    <h3>CI templates</h3>
    <div class="form-group required">
      <label for="ci">CI template</label>
      <select (change)="templateSelected()" [(ngModel)]="settingsModel.ci_template" enabled class="form-control" name="ci_template{{ pId }}">
        <option [value]="null"  disabled>Chose CI template</option>
        <ng-container *ngFor="let item of settingsModel.ci_template_list">
          <option [value]="item">{{ item }}</option>
        </ng-container>
      </select>
      </div>
    <div class="form-group">
      <label for="new_template_name">New template name</label>
      <input [(ngModel)]="settingsModel.new_template_name" class="form-control" id="new_template_name" name="new_template_name" placeholder="Please enter name for new template">
    </div>   
    <button (click)="duplicateTemplate()" id="green-button" [disabled]="!settingsModel.new_template_name || !settingsModel.ci_template">Duplicate</button>
    <button (click)="deleteTemplate()" id="red-button" [disabled]="!settingsModel.ci_template">Delete</button>
    <div class="form-group">
      <br/>
      <br/>
      <br/>
      
      <label for="desc">Setup script</label>
      <textarea [(ngModel)]="settingsModel.template_script" [(value)]="settingsModel.template_script" class="form-control" id="script" name="script" rows="10"></textarea>
    </div>
    <button (click)="saveTemplateScript()" id="green-button" >Save scripts</button>
</div>