table {
    border: none;
    margin: 0px;
}
td {
    padding: 0px;
    margin: 0px;
    border: none;
}

th {
    border: none;
    margin: 0px;
}

td.project {
    border: none;
    margin: 0px;
    padding: 0px;
}

tr {
    border: none;
    margin: 0px;
}

tr.tr-apps {
    border-width:1px;
    margin:0px;
}

.setup-project {
    float: right;
}

.thead-custom {
    margin: 0px;
    background-color: #EFF4F9;
}

.cell-project {
    background-color: #EFF4F9;
    width: 100%;
    height: 48px;
    margin: 0px;
}

button.ci__action_btn{
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    margin: 5px;
    cursor: pointer;
}
button.btn-delete {
    background-image:url('/assets/delete.svg');
}
button.btn-edit {
    background-image: url('/assets/edit.svg');
}
button.btn-start  {
    background-image:url(/assets/start_enabled.svg);
}
button.btn-start:disabled  {
    background-image:url(/assets/start_disabled.svg);
}
button.btn-console {
    background-image: url(/assets/console_enabled.svg);
}
button.btn-console:disabled  {
    background-image:url(/assets/console_disabled.svg);
}
button.btn-cleanup  {
    background-image:url('/assets/cleanup_enabled.svg');
}
button.btn-cleanup:disabled  {
    background-image:url('/assets/cleanup_disabled.svg');
}
button.btn-delete-app  {
    background-image:url('/assets/delete_enabled.svg');
}
button.btn-delete-app:disabled  {
    background-image:url('/assets/delete_disabled.svg');
}
button.btn-link {
    background-image:url('/assets/link_enabled.svg');
}
button.btn-link:disabled {
    background-image:url('/assets/link_disabled.svg');
}
button.btn-link:hover,
button.btn-delete-app:hover,
button.btn-cleanup:hover,
button.btn-console:hover,
button.btn-start:hover,
button.btn-edit:hover,
button.btn-delete:hover {
    opacity: 0.5;
}
