.loader {
    margin-left: auto;
    margin-right: auto;
    border: 7px solid rgba(77, 176, 91, 0.3); /* Light grey */
    border-top: 7px solid rgba(77, 176, 91, 1); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
      
/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#setup-button {
    background-color: #4DB05B;
    border-radius: 59px;  
    color: white;
    opacity: 1;
    border: none;
    margin-top:20px;
    font-size: 10pt;
    font-weight: 50;
    float:right;
    padding: 5pt 10pt 5pt 10pt;
}

#setup-button:disabled {
    background-color: rgba(77, 176, 91, 0.3);
    border-radius: 59px;  
    color: white;
    opacity: 1;
    border: none;
    margin-top:20px;
    font-size: 10pt;
    font-weight: 50;
    float:right;
    padding: 5pt 10pt 5pt 10pt;
}

#status-label-success {
    background-color: rgba(77, 176, 91, 0.3);
    color: rgba(77, 176, 91, 1);
    float:right;
    font-size: 10pt; 
    font-weight: 20;
    border-radius: 59px;
    margin-left: 20pt;
    padding: 5pt 10pt 5pt 10pt;
}

#status-label-progress {
    background-color: rgba(254, 192, 46, 0.3);
    color: rgba(254, 192, 46, 1);
    float:right;
    font-size: 10pt; 
    font-weight: 20;
    border-radius: 59px;
    margin-left: 20pt;
    padding: 5pt 10pt 5pt 10pt;
}

#status-label-fail {
    background-color: rgba(218, 49, 72, 0.3);
    color: rgba(218, 49, 72, 1);
    float:right;
    font-size: 10pt; 
    font-weight: 20;
    border-radius: 59px;
    margin-left: 20pt;
    padding: 5pt 10pt 5pt 10pt;
}

#status {
    float:right;
    font-size: 10pt; 
    font-weight: 20;
    border-radius: 59px;
    margin-left: 20pt;
    padding: 7pt 7pt 7pt 7pt;
}

#status-progress {
    font-weight: 10;
    color:#FEC02E;
    font-size: 10pt;
}

#status-waiting {
    font-weight: 10;
    color:rgba(150, 150, 150, 1);
    font-size: 10pt;
}

#status-success {
    font-weight: 10;
    color:#4DB05B;
    font-size: 10pt;
}

#status-fail {
    font-weight: 10;
    color:#DA3148;
    font-size: 10pt;
}

table {
    border:0px;
    border-collapse:collapse;
    border-spacing:0px;
    margin:0px; 
}
    
td { 
    padding:0px; 
    border-width:0px; 
    margin:0px; 
    border-top: none;
    border: none;
    border-bottom: none;
}

th { 
    border-width:0px; 
    border:none;
    margin:0px; 
}

th#project { 
    border-width:0px; 
    border:none;
    margin:0px; 
    padding: 0pt 0pt 0pt 0pt;
}

tr { 
    border-width:0px; 
    border:none;
    margin:0px; 
}

tr#tr-apps { 
    border-width:1px; 
    margin:0px; 
}

th#tr-apps { 
    border-width:1px; 
    margin:0px; 
}

td#clean{
    opacity: 1;
}

#filled-td {
    background-color: #EFF4F9;
}

.row {
    background-color: #FFFF;
}

.thead-transparent {
    opacity: 1;
}

#head-block {
    height: 100pt;
    width: 100%;
    background-color: #EFF4F9;
}

.thead-custom {
    margin:0px; 
    height: 100pt;
    width: 100pt;
    background-color: #EFF4F9;
    opacity: 1;
}

#cell-project {
    background-color: #EFF4F9;
    width: 100%;
    height: 36pt;
    margin: 0pt 0pt 0pt 0pt;
}

#cell-apps {
    margin-top: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
}

button#btn-edit {
    background-image: url('/assets/edit.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 10pt 10pt 10pt 10pt;
}

button#btn-edit:hover {
    opacity: 0.5;
}

button#btn-delete {
    background-image:url('/assets/delete.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 10pt 10pt 10pt 10pt;
}

button#btn-delete:hover {
    opacity: 0.5;
}

button#start  {
    background-image:url(/assets/start_enabled.svg);
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 10pt 10pt 10pt 10pt;
}

button#start:disabled  {
    background-image:url(/assets/start_disabled.svg);
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 10pt 10pt 10pt 10pt;
}

button#start:hover {
    opacity: 0.5;
}

button#console  {
    background-image:url(/assets/console_enabled.svg);
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 10pt 10pt 10pt 10pt;
}

button#console:disbaled  {
    background-image:url(/assets/console_disabled.svg);
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 10pt 10pt 10pt 10pt;
}

button#console:hover {
    opacity: 0.5;
}

button#cleanup  {
    background-image:url('/assets/cleanup_enabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 10pt 10pt 10pt 10pt;
}

button#cleanup:disabled  {
    background-image:url('/assets/cleanup_disabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 10pt 10pt 10pt 10pt;
}

button#cleanup:hover {
    opacity: 0.5;
}

button#delete-app  {
    background-image:url('/assets/delete_enabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 10pt 10pt 10pt 10pt;
}

button#delete-app:disabled  {
    background-image:url('/assets/delete_disabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 10pt 10pt 10pt 10pt;
}

button#delete-app:hover {
    opacity: 0.5;
}

button#link {
    background-image:url('/assets/link_enabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 10pt 10pt 10pt 10pt;
}

button#link:disabled {
    background-image:url('/assets/link_disabled.svg');
    background-color: transparent;
    background-size: 18pt 18pt;
    width: 18pt;
    height:18pt;
    border: none;
    opacity: 1;
    margin: 10pt 10pt 10pt 10pt;
}

button#link:hover {
    opacity: 0.5;
}