<div class="container">
  <div class="row">
    <div class="logo">
      <div>
        <img src="/images/logo.svg" id="logo">
      </div>
    </div>
    <div class="login">
      <div *ngIf="isLogin" class="login_widget">
        <h3>
          Sign in
        </h3>
        <div class="form-group">
          <label for="username">Username or email</label>
          <input [(ngModel)]="credentials.identifier" type="text" class="input-field" name="username" placeholder="Enter your username or email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
            <input [(ngModel)]="credentials.password" type="password" class="input-field" name="password" placeholder="Enter password">
          </div>
          <div *ngIf="errors.required" class="alert alert-danger">
            Username and password is required
          </div>
          <div *ngIf="errors.incorrect" class="alert alert-danger">
            Username or password incorrect.
          </div>
          <div>
            <input type="checkbox" class="checkbox" style="color: #575962;font-size: 16px;">Remember me
            <button (click)="forgotPressed()" type="button" class="forgot-button" style="color: #4DB05B;font-size: 13px;">Forgot password?</button>
          </div>
          <button type="button" class="forgot-button" style="color: #4DB05B;font-size: 13px;">Create account</button>
          <div>
            <button (click)="signin()" class="login-button" style="color: #FFFFFF;font-size: 16px;">Sign in</button>
          </div>
        </div>
        <div *ngIf="isForgot" class="reset_widget">
          <label for="email">Email address or username</label>
          <input [(ngModel)]="credentials.identifier" type="email" class="input-field" name="email" placeholder="Enter email">
          <div>
            <button (click)="reset()" class="login-button" style="color: #FFFFFF;font-size: 16px;">Reset</button>
          </div>
        </div>
      </div>
  </div>
</div>
