<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 center-content-item">
      <h2>
        Setup new web project
      </h2>
      <form (submit)="proceedToIntall(false)">
        <div class="form-container">
          <h3>Project config:</h3>
          <div class="form-group required">
            <label for="project_name">Project name</label>
            <input [(ngModel)]="projectModel.project_name"  type="text" class="form-control" name="project_name" placeholder="Enter project name">
            <small class="form-text text-muted">This name will be used for project root folder in ubuntu user home path.</small>
          </div>
        </div>
        <div class="form-container">
          <h3>Project apps:</h3>
          <div class="app-tabs">
            <div class="app-control">
              <div *ngFor="let model of projectModel.apps; let i = index">
                <a (click)="openTab(model.appId)" [ngClass]="{'active': activeTab === model.appId}" href="javascript:void(0)">
                  {{ model.app_name || 'App #' + (i + 1) }} <span *ngIf="model.errorMsg" class="text-danger">(validation error)</span>
                </a>
                <button *ngIf="projectModel.apps.length > 1" (click)="removeApp(i)" type="button" class="btn btn-outline-danger">Remove</button>
              </div>
              <div>
                <a (click)="addNewApp()" href="javascript:void(0)" class="action-tab">
                  + Create new app
                </a>
              </div>
            </div>
            <div  *ngFor="let model of projectModel.apps; let pId = index" class="app-tab-body" [ngClass]="{'visible': activeTab === model.appId}">

              <div *ngIf="model.errorMsg" class="alert alert-danger text-center">{{ model.errorMsg }}</div>
              <div class="form-container">
                <div class="form-group required">
                  <label for="os">OS</label>
                  <select [(ngModel)]="projectModel.apps[pId].os" disabled class="form-control" name="os{{ pId }}">
                    <option [value]="'ubuntu'"  disabled>Ubuntu OS</option>
                  </select>
                </div>
                <div class="form-group required">
                  <label for="app_name">App name</label>
                  <input [(ngModel)]="model.app_name" type="text" class="form-control" name="app_name{{ pId }}" placeholder="Enter app name">
                  <small class="form-text text-muted">Each project could have few applications that are working together or even independently. You can setup only one app at one run of script.</small>
                </div>
                <div class="form-group required">
                  <label for="project_type">App type</label>
                  <select [(ngModel)]="model.project_type" class="form-control" name="project_type{{ pId }}">
                    <option [value]="null"  disabled>Chose app type</option>
                    <option *ngFor="let item of projectTypes" [value]="item.id">{{ item.label }}</option>
                  </select>
                </div>
                <div class="form-group required">
                  <label for="environment">App environment</label>
                  <select [(ngModel)]="model.environment" class="form-control" name="environment{{ pId }}">
                    <option [value]="'development'">Development</option>
                    <option [value]="'staging'">Staging</option>
                    <option [value]="'production'">Production</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="app_port">App port</label>
                  <input [(ngModel)]="model.app_port" type="text" class="form-control" name="app_port{{ pId }}" placeholder="Enter app port">
                  <small class="form-text text-muted">Specify port to be used by application. By default port $PORT is used.</small>
                </div>
              </div>
              <div class="form-container">
                <h3>Domain and HTTPS setttings:</h3>
                <div class="form-group" [ngClass]="{'required': model.lets_encrypt}">
                  <label for="domain_name">Domain name</label>
                  <input [(ngModel)]="model.domain_name" type="text" class="form-control" name="domain_name{{ pId }}" placeholder="Enter domain name">
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input [(ngModel)]="model.lets_encrypt" class="form-check-input" type="checkbox" name="lets_encrypt{{ pId }}">
                    <label class="form-check-label" for="defaultCheck1">
                      Use Let's Encrypt (self-signed certificates)
                    </label>
                  </div>
                </div>
                <div *ngIf="!model.lets_encrypt">
                  <div class="form-group" [ngClass]="{'required': model.custom_ssl_key || model.custom_ssl_crt || model.custom_ssl_key}">
                    <label for="custom_ssl_key">SSL Key file</label>
                    <input (change)="addKeySSLFile($event, model)" type="file" accept=".key" class="form-control" name="custom_ssl_key{{ pId }}" placeholder="Upload SSL Key file">
                  </div>
                  <div class="form-group" [ngClass]="{'required': model.custom_ssl_key || model.custom_ssl_crt || model.custom_ssl_key}">
                    <label for="custom_ssl_crt">SSL Crt file</label>
                    <input (change)="addCrtSSLFile($event, model)" type="file" accept=".crt" class="form-control" name="custom_ssl_crt{{ pId }}" placeholder="Upload SSL Crt file">
                  </div>
                  <div class="form-group" [ngClass]="{'required': model.custom_ssl_key || model.custom_ssl_crt || model.custom_ssl_pem}">
                    <label for="custom_ssl_key">SSL Pem file</label>
                    <input (change)="addPemSSLFile($event, model)" type="file" accept=".pem" class="form-control" name="custom_ssl_pem{{ pId }}" placeholder="Upload SSL Pem file">
                  </div>
                </div>
              </div>
              <div class="form-container">
                <h3>Server credentials:</h3>
                <div class="form-group required">
                  <label for="ssh_host">SSH host or IP address</label>
                  <input [(ngModel)]="model.ssh_host" type="text" class="form-control" name="ssh_host{{ pId }}" placeholder="Enter SSH host or IP address">
                </div>
                <div class="form-group required">
                  <label for="ssh_username">SSH username</label>
                  <input [(ngModel)]="model.ssh_username" type="text" class="form-control" name="ssh_username{{ pId }}" placeholder="SSH username">
                  <small class="form-text text-muted">User name to access server with provided key under -s.</small>
                </div>
                <div class="form-group required">
                  <label for="ssh_pem">SSH pem key</label>
                  <input (change)="addPemFile($event, model)" type="file" accept=".pem" class="form-control" name="ssh_pem{{ pId }}" placeholder="Upload SSH pem key">
                  <small class="form-text text-muted">Server ssh key to be used to login to server remotely.</small>
                </div>
              </div>
              <div class="form-container">
                <h3>Server dependencies:</h3>
                <div *ngFor="let item of projectModel.apps[pId].server_dependency; let i = index" class="form-group repeated">
                  <select [(ngModel)]="projectModel.apps[pId].server_dependency[i].value" class="form-control" name="server_dependency[{{ pId }}{{ i }}]">
                    <option [value]="null"  disabled>Chose dependency for server</option>
                    <option *ngFor="let item of serversDeps" [value]="item.id">{{ item.label }}</option>
                  </select>
                  <span (click)="removeRepeatField(projectModel.apps[pId].server_dependency, i)" *ngIf="projectModel.apps[pId].server_dependency && projectModel.apps[pId].server_dependency.length > 1" class="text-danger remove-btn">Remove</span>
                  <span (click)="cleanFields(projectModel.apps[pId].server_dependency)" *ngIf="projectModel.apps[pId].server_dependency && projectModel.apps[pId].server_dependency.length === 1 && projectModel.apps[pId].server_dependency[0].value !== null" style="right: -50px" class="text-warning remove-btn">Reset</span>
                </div>
                <button (click)="addRepeatField(projectModel.apps[pId].server_dependency)" type="button" class="btn btn-warning">Add another dependency</button>
              </div>
              <div class="form-container">
                <h3>Node.JS Global dependencies:</h3>
                <div *ngFor="let item of projectModel.apps[pId].node_dependency; let i = index" class="form-group repeated">
                  <select [(ngModel)]="projectModel.apps[pId].node_dependency[i].value" class="form-control" name="node_dependency[{{ pId }}{{ i }}]">
                    <option [value]="'null'" disabled>Chose dependency for Node.JS</option>
                    <option *ngFor="let item of nodejsDeps" [value]="item.id">{{ item.label }}</option>
                  </select>
                  <span (click)="removeRepeatField(projectModel.apps[pId].node_dependency, i)" *ngIf="projectModel.apps[pId].node_dependency && projectModel.apps[pId].node_dependency.length > 1" class="text-danger remove-btn">Remove</span>
                  <span (click)="cleanFields(projectModel.apps[pId].node_dependency)" *ngIf="projectModel.apps[pId].node_dependency && projectModel.apps[pId].node_dependency.length === 1 && projectModel.apps[pId].node_dependency[0].value !== null" style="right: -50px" class="text-warning remove-btn">Reset</span>
                </div>
                <button (click)="addRepeatField(projectModel.apps[pId].node_dependency)" type="button" class="btn btn-warning">Add another dependency</button>
              </div>

            </div>
          </div>
        </div>
        <div *ngIf="errorMsg" class="alert alert-danger text-center">{{ errorMsg }}</div>
        <button type="submit" class="btn btn-success">Create project</button>
      </form>
    </div>
  </div>
</div>
