/* You can add global styles to this file, and also import other style files */

/* Helpers */
.right{
  float: right;
}
.editable-table{
  margin-top: 1rem;
}
.editable-table tbody th,
.editable-table tbody td{
  line-height: 22px;
}
.badge-splited .badge{
  margin: 0 10px;
}
.badge-splited .badge:first-child{
  margin-left: 0;
}
.border-top{
  border-top: 1px solid #eee;
  padding-top: 10px;
}
