/*** DISABLE MOBILE VERSION ***/
.container, .container-fluid {
  width: 1024px  !important;
  min-width: 1024px !important;
}
.navbar{
  min-width: 1040px !important;
}
.navbar-expand-lg .navbar-collapse {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.navbar-expand-lg .navbar-nav {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}
.navbar-toggler{
  display: none !important;
}
@media (max-width: 991px) {
  .navbar-nav li{
    margin-right: 10px !important;
  }
}


html, body {
  background-color: #EFF4F9;
  height: 100%; 
  padding: 0; 
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

footer {
  bottom: 0pt;
  width: 100%;
 }

.right{
  float: right;
}
.editable-table{
  margin-top: 1rem;
}
.editable-table tbody th,
.editable-table tbody td{
  line-height: 22px;
}
.badge-splited .badge{
  margin: 0 10px;
}
.badge-splited .badge:first-child{
  margin-left: 0;
}
.border-top{
  border-top: 1px solid #eee;
  padding-top: 10px;
}

#green-button {
  background-color: #4DB05B;
  border-radius: 59px;  
  color: white;
  opacity: 1;
  border: none;
  margin:10pt 10pt 10pt 10pt;
  font-size: 10pt;
  font-weight: 50;
  float:left;
  padding: 5pt 10pt 5pt 10pt;
}

#green-button:disabled {
  background-color: #808080;
  border-radius: 59px;  
  color: #b4b4b4;
  opacity: 1;
  border: none;
  margin:10pt 10pt 10pt 10pt;
  font-size: 10pt;
  font-weight: 50;
  float:left;
  padding: 5pt 10pt 5pt 10pt;
}

#red-button {
  background-color: #DA3148;
  border-radius: 59px;  
  color: white;
  opacity: 1;
  border: none;
  margin:10pt 10pt 10pt 10pt;
  font-size: 10pt;
  font-weight: 50;
  float:left;
  padding: 5pt 10pt 5pt 10pt;
}

#red-button:disabled {
  background-color: #808080;
  border-radius: 59px;  
  color: #b4b4b4;
  opacity: 1;
  border: none;
  margin:10pt 10pt 10pt 10pt;
  font-size: 10pt;
  font-weight: 50;
  float:left;
  padding: 5pt 10pt 5pt 10pt;
}

#yellow-button {
  display: block;
  background-color: #FEC02E;
  border-radius: 59px;  
  color: white;
  opacity: 1;
  border: none;
  margin:10pt 10pt 10pt 10pt;
  font-size: 10pt;
  font-weight: 50;
  float:left;
  padding: 5pt 10pt 5pt 10pt;
}

#yellow-button:disabled {
  background-color: #808080;
  border-radius: 59px;  
  color: #b4b4b4;
  opacity: 1;
  border: none;
  margin:10pt 10pt 10pt 10pt;
  font-size: 10pt;
  font-weight: 50;
  float:left;
  padding: 5pt 10pt 5pt 10pt;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  border: 7px solid rgba(77, 176, 91, 0.3); /* Light grey */
  border-top: 7px solid rgba(77, 176, 91, 1); /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
    
/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.not-found{
  color: silver;
  text-align: center;
  margin: 0;
}

/** INDEEMA CI STYLES **/
.ci__btn-default {
  background-color: #4DB05B;
  border-radius: 60px;
  opacity: 1;
  border: none;
  margin: 0;
  padding: 10px 25px;
  width: auto;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #FFFFFF;
  font-size: 16px;
}
.ci__btn-default:hover,
.ci__btn-default:active {
  background-color: #322f41;
  color: #FFFFFF;
  text-decoration: none;
}
.ci__btn-default:focus{
  outline: none !important;
}

.ci__checkbox > label.form-check-label{
  color: #575962;
  font-size: 16px;
}
.ci__checkbox:focus{
  outline: none !important;
}

.ci__link{
  cursor: pointer;
  color: #4DB05B;
  font-size: 13px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ci__link:hover,
.ci__link:active {
  color: #322f41;
}
.ci__link:focus{
  outline: none !important;
}
.ci__input{
  display: block;
  background: transparent url(/src/assets/input_field.svg) 0% 0% no-repeat padding-box;
  border: 2pt solid #EFF4F9;
  border-radius: 5pt;
  padding: 4pt 4pt 4pt 4pt;
  opacity: 1;
  font-size: 14px;
  min-width: 200px;
}
.ci__input:focus{
  outline: none !important;
}
.ci__input.ng-invalid.ng-touched{
  background: rgba(255, 0, 0, 0.25) !important;
  border-color: rgba(255, 0, 0, 0.05) !important;
  color: red !important;
}
.ci_label{
  display: inline-block;
  margin: 5px 0 5px 10px;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 13px;
}
.ci_label.yellow{
  background: #FEF5D2;
  color: #FEC02E;
}
.ci_label.red{
  background: #FCD1D9;
  color: #DA3148;
}
.ci_label.green{
  background: #D5F3DD;
  color: #4DB05B;
}

  /*** CI Widget items ***/
.ci__widget{
  width: 100%;
  height: auto;
  background: #fff;
  position: relative;
  padding: 20px 30px;
  box-shadow: 0px 1px 15px #45414E14;
}
.ci__widget .ci__widget-header{
  display: table;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #EFF4F9;
}
.ci__widget .ci__widget-header .ci__widget-title{
  float: left;
  margin: 0 15px 0 0;
}
.ci__widget .ci__widget-header .ci__widget-title > h1,
.ci__widget .ci__widget-header .ci__widget-title > h2
.ci__widget .ci__widget-header .ci__widget-title > h3{
  font-size: 32px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.ci__widget .ci__widget-header .ci__widget-action{
  float: right;
  display: inline;
}
.ci__widget .ci__widget-body{
  padding: 20px 0 0 0;
}
.ci__widget .ci__widget-body .ci__widget-action{
  display: table;
  width: 100%;
}
.ci__widget .ci__widget-footer{
  display: table;
  width: 100%;
  height: auto;
  padding-top: 20px;
  border-top: 1px solid #EFF4F9;
}

/*** CI HEADER BOTTOM CONTAINER ***/
.ci__header-bottom{
  display: block;
  width: 100%;
  background: white;
  min-width: 1040px !important;
}
.ci__header-bottom-nav-container{

}
.ci__header-bottom-nav{

}
.ci__header-bottom-nav > ul{
  width: auto;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: table;
}

.ci__header-bottom-nav > ul > li{
  display: inline-block;
}
.ci__header-bottom-nav > ul > li > a{
  display: block;
  height: 100%;
  padding: 0 22px;
  margin: 15px 0;
  border-right: 2px solid #f3f6f9;
  text-decoration: none;
}
.ci__header-bottom-nav > ul > li:first-child > a{
  padding-left: 0;
}
.ci__header-bottom-nav > ul > li:last-child > a{
  padding-right: 0;
  border-right: none;
}
.ci__header-bottom-nav > ul > li > a .menu-title{
  margin: 0;
  color: #464e5f;
  font-size: 16px;
  transition: color 0.5s ease;
}
.ci__header-bottom-nav > ul > li > a .menu-desc{
  margin: 0;
  color: #b5b5c3;
  font-weight: 500;
  font-size: 12px;
  transition: color 0.5s ease;
}
.ci__header-bottom-nav > ul > li.active > a .menu-title{
  color: #0bb783;
}
.ci__header-bottom-nav > ul > li > a:hover .menu-title,
.ci__header-bottom-nav > ul > li > a:hover .menu-desc{
  color: #0bb783;
}
.ci__text-green{
  color: rgba(77, 176, 91, 1);
}
.ci__text-red{
  color: rgba(218, 49, 72, 1);
}
.ci__text-yellow{
  color: rgba(254, 192, 46, 1);
}

/*** CI FORM ***/
.ci__form{
  display: table;
  width: 100%;
}
.ci__form-group {
  display: table;
  width: 100%;
}
.ci__form .ci__form-group.ci__form-group-required > label:after{
  content: "*";
  color: red;
}
.ci__form-select,
.ci__form-input,
.ci__form-textarea,
.ci__form-file{
  display: block;
  background: #F5F7FB;
  border: 1px solid #F5F7FB;
  border-radius: 2px;
  padding: 4pt 4pt 4pt 4pt;
  opacity: 1;
  font-size: 14px;
  color: #141A21;
}
.ci__form-btn-list{

}
.ci__form-btn{
  background-color: #aaaaaa;
  border-radius: 60px;
  opacity: 1;
  border: none;
  margin: 0;
  padding: 10px 25px;
  width: auto;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #FFFFFF;
  font-size: 16px;
}
.ci__form-btn.ci__form-btn-green{
  background: rgba(77, 176, 91, 1);
}
.ci__form-btn.ci__form-btn-red{
  background: rgba(218, 49, 72, 1);
}
.ci__form-btn.ci__form-btn-yellow{
  background: rgba(254, 192, 46, 1);
  color: #212529;
}
.ci__form-btn:hover,
.ci__form-btn:active {
  background-color: #322f41;
  color: #FFFFFF;
  text-decoration: none;
}
.ci__form-btn:focus{
  outline: none !important;
}
.ci__form-btn:disabled{
  opacity: 0.5 !important;
  background: grey !important;
  cursor: default !important;
  color: #fff !important;
}
.ci__form-btn-list .ci__form-btn{
  display: inline-block;
  margin: 0 5px;
}
.ci__form-btn-list .ci__form-btn:first-child{
  margin-left: 0;
}
.ci__form-btn-list .ci__form-btn:last-child{
  margin-right: 0;
}
