html, body {
  background-color: #EFF4F9;
  height: 100%; 
  padding: 0; 
  margin: 0; 
}

footer {
  bottom: 0pt;
  width: 100%;
 }

.right{
  float: right;
}
.editable-table{
  margin-top: 1rem;
}
.editable-table tbody th,
.editable-table tbody td{
  line-height: 22px;
}
.badge-splited .badge{
  margin: 0 10px;
}
.badge-splited .badge:first-child{
  margin-left: 0;
}
.border-top{
  border-top: 1px solid #eee;
  padding-top: 10px;
}

#green-button {
  background-color: #4DB05B;
  border-radius: 59px;  
  color: white;
  opacity: 1;
  border: none;
  margin:10pt 10pt 10pt 10pt;
  font-size: 10pt;
  font-weight: 50;
  float:left;
  padding: 5pt 10pt 5pt 10pt;
}

#green-button:disabled {
  background-color: #808080;
  border-radius: 59px;  
  color: #b4b4b4;
  opacity: 1;
  border: none;
  margin:10pt 10pt 10pt 10pt;
  font-size: 10pt;
  font-weight: 50;
  float:left;
  padding: 5pt 10pt 5pt 10pt;
}

#red-button {
  background-color: #DA3148;
  border-radius: 59px;  
  color: white;
  opacity: 1;
  border: none;
  margin:10pt 10pt 10pt 10pt;
  font-size: 10pt;
  font-weight: 50;
  float:left;
  padding: 5pt 10pt 5pt 10pt;
}

#red-button:disabled {
  background-color: #808080;
  border-radius: 59px;  
  color: #b4b4b4;
  opacity: 1;
  border: none;
  margin:10pt 10pt 10pt 10pt;
  font-size: 10pt;
  font-weight: 50;
  float:left;
  padding: 5pt 10pt 5pt 10pt;
}

#yellow-button {
  display: block;
  background-color: #FEC02E;
  border-radius: 59px;  
  color: white;
  opacity: 1;
  border: none;
  margin:10pt 10pt 10pt 10pt;
  font-size: 10pt;
  font-weight: 50;
  float:left;
  padding: 5pt 10pt 5pt 10pt;
}

#yellow-button:disabled {
  background-color: #808080;
  border-radius: 59px;  
  color: #b4b4b4;
  opacity: 1;
  border: none;
  margin:10pt 10pt 10pt 10pt;
  font-size: 10pt;
  font-weight: 50;
  float:left;
  padding: 5pt 10pt 5pt 10pt;
}