<app-header></app-header>
<div class="container">
  <div *ngIf="server" class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 center-content-item">
      <h2>
        {{ server.server_name }}
      </h2>
      <form (submit)="proceedToUpdate(false)">
        <div class="form-container">
          <h3>Server config:</h3>
          <div class="form-group required">
            <label for="server_name">Server name</label>
            <input [(ngModel)]="serverModel.server_name"  type="text" class="form-control" name="server_name" placeholder="Enter server name">
            <small class="form-text text-muted">This name should be unique.</small>
          </div>
          <div class="form-group">
            <label for="description">Server description</label>
            <textarea [(ngModel)]="serverModel.description" class="form-control" id="description" name="description" rows="3"></textarea>
          </div>
        </div>
        <div class="form-container">

          <div class="form-container">

            <div *ngIf="platform_list" class="form-group required">
              <label for="platform">Platform</label>
              <select (change)="platformSelected()" [(ngModel)]="server.platform" enabled class="form-control" name="platform{{ pId }}">
                <option [value]="null"  disabled>Chose platform setup script</option>
                <ng-container *ngFor="let item of platform_list">
                  <option [ngValue]="item">{{ item.platform_name }}</option>
                </ng-container>
              </select>
              </div>
            <div class="form-group">
              <label for="serverModel.ports">List ports to open by firewall</label>
              <input [(ngModel)]="serverModel.ports" type="text" class="form-control" name="ports{{ pId }}" placeholder="Enter avaliable ports">
              <small class="form-text text-muted">This prots will be enabled in firewall</small>
            </div>
          </div>
          <div class="form-container">
            <h3>Server credentials:</h3>
            <div class="form-group required">
              <label for="ssh_host">SSH host or IP address</label>
              <input [(ngModel)]="serverModel.ssh_ip" type="text" class="form-control" name="ssh_ip{{ pId }}" placeholder="Enter SSH host or IP address">
            </div>
            <div class="form-group required">
              <label for="ssh_username">SSH username</label>
              <input [(ngModel)]="serverModel.ssh_username" type="text" class="form-control" name="ssh_username{{ pId }}" placeholder="SSH username">
              <small class="form-text text-muted">User name to access server with provided key under -s.</small>
            </div>
            <div class="form-group required">
              <label for="ssh_pem">SSH pem key</label>
              <input (change)="addPemFile($event, model)" type="file" class="form-control" name="ssh_pem{{ pId }}" placeholder="Upload SSH pem key">
              <small *ngIf="serverModel.ssh_key && serverModel.ssh_key.name" class="form-text text-muted">SSH Pem: {{ serverModel.ssh_key.name }} <a target="_blank" href="{{api_url}}{{ serverModel.ssh_key.url }}">Download</a></small>
              <small class="form-text text-muted">Server ssh key to be used to login to server remotely.</small>
            </div>
          </div>
          <div class="form-container">
            <h3>Server dependencies:</h3>
            <div *ngFor="let item of serverModel.server_dependency; let i = index" class="form-group repeated">
              <select [(ngModel)]="serverModel.server_dependency[i].value" class="form-control" name="server_dependency[{{ pId }}{{ i }}]">
                <option [value]="null"  disabled>Chose dependency for server</option>
                <option *ngFor="let item of serversDeps" [value]="item.id">{{ item.label }}</option>
              </select>
              <span (click)="removeRepeatField(serverModel.server_dependency, i)" *ngIf="serverModel.server_dependency && serverModel.server_dependency.length > 1" class="text-danger remove-btn">Remove</span>
              <span (click)="cleanFields(serverModel.server_dependency)" *ngIf="serverModel.server_dependency && serverModel.server_dependency.length === 1 && serverModel.server_dependency[0].value !== null" style="right: -50px" class="text-warning remove-btn">Reset</span>
            </div>
            <button (click)="addRepeatField(serverModel.server_dependency)" type="button" class="btn btn-warning">Add another dependency</button>
          </div>
          <div class="form-container">
            <h3>Custom dependencies:</h3>
            <div *ngFor="let item of serverModel.node_dependency; let i = index" class="form-group repeated">
              <select [(ngModel)]="serverModel.node_dependency[i].value" class="form-control" name="node_dependency[{{ pId }}{{ i }}]">
                <option [value]="'null'" disabled>Chose dependency for Node.JS</option>
                <option *ngFor="let item of nodejsDeps" [value]="item.id">{{ item.label }}</option>
              </select>
              <span (click)="removeRepeatField(serverModel.node_dependency, i)" *ngIf="serverModel.node_dependency && serverModel.node_dependency.length > 1" class="text-danger remove-btn">Remove</span>
              <span (click)="cleanFields(serverModel.node_dependency)" *ngIf="serverModel.node_dependency && serverModel.node_dependency.length === 1 && serverModel.node_dependency[0].value !== null" style="right: -50px" class="text-warning remove-btn">Reset</span>
            </div>
            <button (click)="addRepeatField(serverModel.node_dependency)" type="button" class="btn btn-warning">Add another dependency</button>
          </div>
        </div>
        <div *ngIf="errorMsg" class="alert alert-danger text-center">{{ errorMsg }}</div>
        <div *ngIf="!isNew">
          <button (click)="proceedToUpdate(false)" type="button" class="btn btn-warning">Update</button>
        </div>
        <div *ngIf="isNew">
          <button (click)="proceedToSetop(false)" type="button" class="btn btn-warning">Setup</button>
        </div>
      </form>
    </div>
  </div>
</div>
