<div class="ci__widget">
  <div class="ci__widget-header">
    <div class="ci__widget-title">
      <h1>Server Dependencies</h1>
    </div>
  </div>
  <!-- widget header end -->

  <div class="ci__widget-body">
    <div class="ci__form">

      <div class="ci__form-group form-group ci__form-group-required">
        <label for="dependency">Server dependency</label>
        <select (change)="dependencySelected()" [(ngModel)]="settingsModel.dependency" class="ci__form-select form-control" name="dependency" id="dependency">
          <option [value]="newDependency">Create new</option>
          <optgroup label="_________"></optgroup>
          <ng-container *ngFor="let item of settingsModel.dependency_list">
            <option [ngValue]="item">{{ item.label}}</option>
          </ng-container>
        </select>
      </div>

      <div class="ci__form-group form-group ci__form-group-required">
        <label for="server-dep-name">Name</label>
        <input [(ngModel)]="settingsModel.dependency.name" class="ci__form-input form-control" id="server-dep-name" name="server-dep-name" placeholder="Enter name for dependency with no whitespaces">
        <div *ngIf="!settingsModel.dependency.name" class="ci__form-validation-text">
          <small class="form-text text-muted">Name is required</small>
        </div>
      </div>

      <div class="ci__form-group form-group ci__form-group-required">
        <label for="server-dep-label">Label</label>
        <input [(ngModel)]="settingsModel.dependency.label" class="ci__form-input form-control" id="server-dep-label" name="server-dep-label" placeholder="Enter label for dependency">
        <div *ngIf="!settingsModel.dependency.label" class="ci__form-validation-text">
          <small class="form-text text-muted">Label is required</small>
        </div>
      </div>

      <div class="ci__form-group form-group ci__form-group-required">
        <label for="server-dep-package-name">Package name</label>
        <input [(ngModel)]="settingsModel.dependency.package" class="ci__form-input form-control" id="server-dep-package-name" name="server-dep-package-name" placeholder="Enter package name for dependency">
        <div *ngIf="!settingsModel.dependency.package" class="ci__form-validation-text">
          <small class="form-text text-muted">Package name is required</small>
        </div>
      </div>

      <div class="ci__form-group form-group ci__form-group-required">
        <label for="pre_install_script">Preinstall script</label>
        <textarea  [(ngModel)]="settingsModel.dependency.pre_install_script" [(value)]="settingsModel.pre_install_script" class="ci__form-textarea form-control" id="pre_install_script" name="pre_install_script" rows="10" ></textarea>
        <div *ngIf="!settingsModel.dependency.pre_install_script" class="ci__form-validation-text">
          <small class="form-text text-muted">Pre install script is required</small>
        </div>
      </div>

      <div class="ci__form-group form-group ci__form-group-required">
        <label for="post_install_script">Postinstall script</label>
        <textarea [(ngModel)]="settingsModel.dependency.post_install_script" [(value)]="settingsModel.post_install_script" class="ci__form-textarea form-control" id="post_install_script" name="post_install_script" rows="10" ></textarea>
        <div *ngIf="!settingsModel.dependency.post_install_script" class="ci__form-validation-text">
          <small class="form-text text-muted">Post install script is required</small>
        </div>
      </div>

  </div>
  <!-- widget body end -->

  <div class="ci__widget-footer">
    <div class="ci__form-group form-group ci__form-group-required">
      <div class="ci__form-btn-list">
        <button (click)="update()" class="ci__form-btn ci__form-btn-green" *ngIf="!isNew">Update</button>
        <button (click)="create()" class="ci__form-btn ci__form-btn-green" *ngIf="isNew">Create new</button>
        <button (click)="delete()" class="ci__form-btn ci__form-btn-red" [disabled]="isNew">Delete</button>
      </div>
    </div>
  </div>
  <!-- widget footer end -->

</div>
